<% include ./header %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="images/shaolin.jpg" alt="Shoalin">
    <img src="images/pepehands.jpg" alt="pepe">
  </body>

  <% include ./footer %>